<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/customer/viewAll.css" />
    <title>View Jobs</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/viewAll.css" />
    <script src="/js/viewAllJobs.js" defer></script>

    <script src="/js/calendar/addCalendarColSelect.js" defer></script>
  </head>
  <body>
    <div th:replace="~{fragments/top-navigation :: top-navigation}"></div>
    <div th:replace="~{fragments/left-navigation :: left-navigation}"></div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex" style="justify-content: center">
        <h1 class="m-4">All Jobs</h1>
      </div>
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <label for="filter" class="form-label">Filter by:</label>
              <select
                class="form-select"
                id="filter"
                onchange="location = this.value;"
              >
                <option
                  th:selected="${selectedFilter == null}"
                  value="viewAllJobs"
                >
                  All
                </option>
                <option
                  th:selected="${selectedFilter == 'service'}"
                  value="viewAllJobs?filter=service"
                >
                  Service
                </option>
                <option
                  th:selected="${selectedFilter == 'install'}"
                  value="viewAllJobs?filter=install"
                >
                  Install
                </option>
                <option
                  th:selected="${selectedFilter == 'repair'}"
                  value="viewAllJobs?filter=repair"
                >
                  Repair
                </option>
                <option
                  th:selected="${selectedFilter == 'done'}"
                  value="viewAllJobs?filter=done"
                >
                  Job Done
                </option>
                <option
                  th:selected="${selectedFilter == 'notdone'}"
                  value="viewAllJobs?filter=notdone"
                >
                  Job Upcoming
                </option>
              </select>
            </div>
            <table class="table table-bordered table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Service Date</th>
                  <th scope="col">Note</th>
                  <th scope="col">Job Type</th>
                  <th scope="col">Technicians</th>
                </tr>
              </thead>

              <tbody>
                <tr th:each="job : ${jobs}">
                  <td>
                    <a
                      style="text-decoration: none; font-weight: 900"
                      th:href="@{/jobs/{id}(id=${job.id})}"
                      th:text="${job.customerName}"
                    ></a>
                  </td>
                  <td th:text="${job.serviceDate}"></td>
                  <td th:text="${job.note}"></td>
                  <td th:text="${job.jobType}"></td>
                  <td>
                    <span
                      th:each="technician : ${jobTechnicians[job.id]}"
                      th:text="${technician.name} + ', '"
                    ></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br />
      </div>
    </main>
    <!-- Closing main tag here -->
    <!-- Modal -->
    <div th:replace="~{fragments/addJobFragment :: add-job-fragment}"></div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  </body>
</html>
