<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/employee/head :: head}"></head>

<body th:attr="tech-id=${user.id}, data-clock-state=${clockButtonState}">
    <!-- Navigation bars -->
    <div th:replace="fragments/employee/top-navigation :: top-navigation(${user.id}, ${clockButtonState})"></div>
    <p>Current state: <span th:text="${clockButtonState}"></span></p>
    <div id="coordinates" style="font-size:16px; display:none;"></div>
    <div class="container px-5 mt-4">
        <div th:replace="~{fragments/employee/confirmation-modal :: confirmationModal}"></div>
        <div th:replace="~{fragments/employee/upcoming-jobs :: upcoming-jobs}"></div>
    </div>
    <!-- TODO: Update later -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7W1stQyxkMS1msMvHXRHBPDltzAXZh3g&callback=initMap" type="text/javascript"></script>
</body>
</head>

</html>