<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PowerCool Hub</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {
        height: 550px;
      }

      /* Set gray background color and 100% height */
      .sidenav {
        background-color: #f1f1f1;
        height: 100%;
      }

      /* On small screens, set height to 'auto' for the grid */
      @media screen and (max-width: 767px) {
        .row.content {
          height: auto;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""></a>
        </div>
        <!-- collapsed sidebar-->
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Dashboard</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Employees</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- sidebar-->
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
          <h2>PowerCool Hub</h2>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section1">Dashboard</a></li>
            <li><a href="#section2">Customers</a></li>
            <li><a href="#section3">Reports</a></li>
            <li><a href="#section3">Employees</a></li>
          </ul>
          <br />
        </div>
        <br />

        <!-- dashboard big view-->
        <div class="col-sm-9">
          <div class="well">
            <h4>Dashboard</h4>
            <p>
              Welcome to the dashboard! Here, you'll be able to view this week's
              appointments, colour coded by the type of appointment, and be able
              to click on the client to view further details
            </p>
          </div>
          <!-- -->
          <div class="row">
            <div class="col-sm-3">
              <div class="well">
                <h4>Client Analytics:</h4>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>12</h4>
                <p>Unscheduled Clients</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>3</h4>
                <p>Clients Pending Payment</p>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well">
                <h4>Another Analytic</h4>
                <p>80% awesomeness</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
                <p>Text</p>
                <p>Text</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="well">
                <p>Text</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="well">
                <p>Text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
