<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous" />
</head>
<style>
    .date-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }
</style>
<body>
    <form id="tech-report-form" action="/manager/report/downloadTechCSV" method="post">
        <h1>Select an employee to find their hours worked</h1>
        <div>
            <span class="date-box">
                <label for="start-select">Start date</label>
                <input type="date" id="tech-start-select" name="start-date" required>
            </span>
            <span class="date-box">
                <label for="end-select">End date</label>
                <input type="date" id="tech-end-select" name="end-date" required>
            </span>
        </div>
        <div>
            <select name="tech-select">
                <option value="-1" selected>Choose an employee</option>
                <th:block th:each="tech : ${technicians}">
                    <option th:value="${tech.id}" th:text="${tech.name}"></option>
                </th:block>
            </select>
        </div>
        <button type="submit" id="report-button">Download report</button>
    </form>

    <!-- <form id="all-report-form" action="/manager/report/downloadAllCSV" method="post">
        <h1>Select an employee to find their hours worked</h1>
        <div>
            <span class="date-box">
                <label for="start-select">Start date</label>
                <input type="date" id="all-start-select" name="start-date" required>
            </span>
            <span class="date-box">
                <label for="end-select">End date</label>
                <input type="date" id="all-end-select" name="end-date" required>
            </span>
        </div>
        <button type="submit" id="report-button">Download report</button>
    </form> -->
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.getElementById('report-form');
        var select = document.querySelector('[name="tech-select"]');

        form.addEventListener('submit', function (event) {
            if (select.value === '-1') {
                event.preventDefault(); // Stop the form from submitting
                alert('Please choose an employee before submitting the form.');
            }
        });
    });
</script>
</html>