<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Customer</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .error-message {
            color: red;
        }
    </style>


</head>
<body>
    <div class="container">
        <h2>Add Customer</h2>
        <form id="addCustomerForm" th:object="${customer}" method="post" action="/customers">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" th:field="*{address}" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" required>
            </div>
            <div class="form-group">
                <label for="notes">Notes:</label>
                <textarea class="form-control" id="notes" th:field="*{notes}"></textarea>
            </div>
            <div class="form-group">
                <label for="lastServiced">Last Serviced:</label>
                <input type="date" class="form-control" id="lastServiced" th:field="*{lastServiced}">
            </div>
            <div class="form-group">
                <label for="installationDate">Installation Date:</label>
                <input type="date" class="form-control" id="installationDate" th:field="*{installationDate}">
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" class="form-control" id="state" th:field="*{state}" required>
            </div>
            <div class="form-group">
                <label for="paymentReceived">Payment Received:</label>
                <input type="checkbox" class="form-control" id="paymentReceived" th:field="*{paymentReceived}">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>