<div class="container" th:fragment="history-table">
    <div class="row">
        <h2 class="px-0">Work Hours</h2>

        <div class="filter p-0">
            <select class="form-select float-end" aria-label="Default select example" style="width: 8rem">
                <option selected>Filter</option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="yearly">Yearly</option>
            </select>
        </div>

        <div class="table-container mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Hours</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="date : ${work_logs}">
                        <td th:text="${#temporals.format(date.key, 'MMM d, yyyy')}"></td>
                        <td th:text="0"></td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr>
                    <!-- <tr>
                        <td scope="row">{ date }</td>
                        <td>{ hours }</td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>