<div class="container" th:fragment="history-table">
    <div class="row">
        <h2>Work Hours</h2>
        <div class="table-container mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Hours</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jan 2, 2024</td>
                        <td>8</td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr>
                    <tr>
                        <td scope="row">Jan 1, 2024</td>
                        <td>6</td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr>
                    <tr>
                        <td scope="row">Dec 31, 2023</td>
                        <td>8</td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr>
                    <tr>
                        <td scope="row">...</td>
                        <td>...</td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr>
                    <tr>
                        <td scope="row">{ date }</td>
                        <td>{ hours }</td>
                        <td><a href="#" class="fa-solid fa-caret-right text-dark text-decoration-none"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>