.table-container {
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.table td, .table th {
    padding: 1rem;
}

.table tbody tr:last-child {
    border-color: transparent;
}

.table tbody tr:last-child td, .table tbody tr:last-child th {
    padding-bottom: 0;
}