.clock.fa-fade {
    --fa-animation-duration: 2s; 
    --fa-fade-opacity: 0.4;
}

.clock-button {
    /* Remove default button styles */
    border: none;
    outline: none;
    /* Optionally remove other default styles */
    background-color: transparent;
    cursor: pointer;
    color: black;
}

.clock-button .fa-clock { 
    color: black;
}

@keyframes blinker {
    50% { color: red; }
}

.blinking {
    animation: blinker 1.5s linear infinite;
}

/* Screens less than 429px width */
@media only screen and (max-width: 429px) {
    #top-navigation .container {
        justify-content: center;
    }
}