<div class="container" th:fragment="upcoming-jobs">
    <div class="row">
        <h2 class="px-0">Upcoming Jobs</h2>
        <ul class="list-group mt-3">
            <a class="list-group-item list-group-item-action p-3" href="#">
                <span>Job A</span>
                <span href="#" class="text-dark float-end me-2">
                    <i class="fa-solid fa-caret-right"></i>
                </span>
            </a>
            <a class="list-group-item list-group-item-action p-3" href="#">
                <span>Job B</span>
                <span href="#" class="text-dark float-end me-2">
                    <i class="fa-solid fa-caret-right"></i>
                </span>
            </a>
            <a class="list-group-item list-group-item-action p-3" href="#">
                <span>Job C</span>
                <span href="#" class="text-dark float-end me-2">
                    <i class="fa-solid fa-caret-right"></i>
                </span>
            </a>
            <a class="list-group-item list-group-item-action p-3" href="#">
                <span>...</span>
                <span href="#" class="text-dark float-end me-2">
                    <i class="fa-solid fa-caret-right"></i>
                </span>
            </a>
            <a class="list-group-item list-group-item-action p-3" href="#">
                <span>{ job_name }</span>
                <span href="#" class="text-dark float-end me-2">
                    <i class="fa-solid fa-caret-right"></i>
                </span>
            </a>
        </ul>
    </div>
</div>