<div th:fragment="add-job-fragment">
  <div
    class="modal fade"
    id="jobModal"
    tabindex="-1"
    aria-labelledby="jobModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="jobModalLabel">Book Appointment</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Content from addJob.html -->
          <form id="jobForm" action="/jobs/addJob" method="post">
            <!-- hidden customer id -->
            <div class="form-group">
              <label for="customerId" hidden></label>
              <input
                type="number"
                name="customerId"
                class="form-control"
                id="customerId"
                required
                hidden
              />
            </div>

            <!-- add calender fragment -->
            <div class="form-group">
              <div
                class="row"
                th:replace="~{fragments/calendar :: calendar-fragment}"
              ></div>
            </div>
            <div class="form-group">
              <label for="dateService">Date Service</label>
              <input
                type="date"
                name="dateService"
                class="form-control"
                id="dateService"
                required
              />
            </div>
            <div class="form-group">
              <label for="note">Note</label>
              <textarea
                class="form-control"
                name="note"
                id="note"
                rows="3"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <label for="message">Message for customer</label>
              <textarea
                class="form-control"
                name="message"
                id="message"
                rows="4"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <label for="jobType" required>Job Type</label><br />
              <input
                type="radio"
                id="install"
                name="jobType"
                value="INSTALL"
                required
              />
              <label for="install">Install</label><br />
              <input type="radio" id="service" name="jobType" value="SERVICE" />
              <label for="service">Service</label><br />
              <input type="radio" id="repair" name="jobType" value="REPAIR" />
              <label for="repair">Repair</label><br />
            </div>

            <div class="form-group">
              <label for="tech-checkbox">Select employees to assign:</label>
              <div id="tech-checkbox" class="row">
                <div th:each="tech : ${techs}" class="col-md-2">
                  <div class="tech-box form-check">
                    <input
                      th:id="${'tech' + tech.id}"
                      th:value="${tech.id}"
                      name="technicianIds"
                      type="checkbox"
                      class="form-check-input"
                    />
                    <label
                      th:for="${'tech' + tech.id}"
                      class="form-check-label"
                    >
                      <div th:text="${tech.name}"></div>
                      <div class="job-count">Jobs:</div>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="form-group">
          <label for="jobDone">Job Done?</label>
          <div class="custom-control custom-switch">
            <input type="hidden" name="jobDone" value="false" />
            <input
              type="checkbox"
              class="custom-control-input"
              name="jobDone"
              id="jobDone"
              value="true"
            />
            <label class="custom-control-label" for="jobDone"></label>
          </div>
        </div> -->

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- Additional buttons if needed -->
        </div>
      </div>
    </div>
  </div>
  <script>
    document
      .getElementById("jobForm")
      .addEventListener("submit", function (e) {
        var checkboxes = document.querySelectorAll(
          'input[name="technicianIds"]:checked'
        );
        if (checkboxes.length === 0) {
          e.preventDefault();
          alert("Please select at least one technician.");
        }
      });
  </script>
</div>
