<div id="calendar-container" th:fragment="calendar-fragment">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/calendar.css" />
  <div id="calendar-buttons">
    <button type="button" id="prev-week" onclick="changeWeek(-1)">
      Prev week
    </button>
    <span id="week-offset">Current week</span>
    <button type="button" id="next-week" onclick="changeWeek(1)">
      Next week
    </button>
  </div>
  <div class="row">
    <div
      class="col calendar-top"
      style="border-left: 2px solid black; border-top-left-radius: 12px"
    >
      <span>Sun</span>
      <time class="week-date"></time>
    </div>
    <div class="col calendar-top">
      <span>Mon</span>
      <time class="week-date"></time>
    </div>
    <div class="col calendar-top">
      <span>Tue</span>
      <time class="week-date"></time>
    </div>
    <div class="col calendar-top">
      <span>Wed</span>
      <time class="week-date"></time>
    </div>
    <div class="col calendar-top">
      <span>Thu</span>
      <time class="week-date"></time>
    </div>
    <div class="col calendar-top">
      <span>Fri</span>
      <time class="week-date"></time>
    </div>
    <div
      class="col calendar-top"
      style="border-right: 2px solid black; border-top-right-radius: 12px"
    >
      <span>Sat</span>
      <time class="week-date"></time>
    </div>
  </div>
  <div class="row">
    <time
      class="col calendar-col"
      style="border-left: 2px solid black; border-bottom-left-radius: 3px"
    ></time>
    <!-- Sunday -->
    <time class="col calendar-col"></time>
    <!-- Monday -->
    <time class="col calendar-col"></time>
    <!-- Tuesday -->
    <time class="col calendar-col"></time>
    <!-- Wednesday -->
    <time class="col calendar-col"></time>
    <!-- Thursday -->
    <time class="col calendar-col"></time>
    <!-- Friday -->
    <time
      class="col calendar-col"
      style="border-right: 2px solid black; border-bottom-right-radius: 3px"
    ></time>
    <!-- Saturday -->
  </div>
  <script src="/js/calendar/calendarBase.js"></script>
</div>