<nav
  id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
  th:fragment="left-navigation"
>
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a
          th:href="@{/users/manager/dashboard}"
          class="nav-link"
          aria-current="page"
          id="dashboard"
        >
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/customers/viewAll}" class="nav-link" id="customers">
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a th:href="@{#}" class="nav-link" id="reports"> Reports </a>
      </li>
      <li class="nav-item">
        <a th:href="@{#}" class="nav-link" id="employees"> Employees </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/logout}" class="nav-link" id="logout"> Log Out </a>
      </li>
      <li class="nav-item">
        <a th:href="@{/jobs/addJob}" class="nav-link" id="job"> <br><br> Add Job (TEMP) </a>
      </li>
    </ul>
  </div>
</nav>
