<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="left-navigation">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:href="@{/users/manager/dashboard}" class="nav-link active" aria-current="page">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/customers/viewAll}" class="nav-link">
                    Customers
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{#}" class="nav-link">
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{#}" class="nav-link">
                    Employees
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="nav-link">
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</nav>