<div th:fragment="update-job-fragment">
  <style>
    .tech-box input[type="checkbox"] {
      display: none; /* Hides the checkbox */
    }

    .tech-box {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 10px;
      user-select: none;
    }

    .tech-box label {
      width: 100%;
      cursor: pointer;
    }

    .tech-box.checked {
      background-color: #ddd;
    }
  </style>
  <div
    class="modal fade"
    id="updateJobModal"
    tabindex="-1"
    aria-labelledby="updateJobModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateJobModalLabel">Update Job</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Content for updating job -->
          <form id="updateJobForm" action="/jobs/updateJob" method="post">
            <!-- Hidden input for job ID -->
            <input type="hidden" name="jobId" th:value="${job.id}" />

            <!-- Display current customer name -->
            <p>Customer Name: <span th:text="${job.customerName}"></span></p>

            <div th:replace="~{fragments/calendar :: calendar-fragment}"></div>

            <!-- Date service -->
            <div class="form-group">
              <label for="dateService">Date Service</label>
              <input
                type="date"
                name="dateService"
                class="form-control"
                id="dateService"
                th:value="${job.getFormattedDate()}"
                required
              />
            </div>

            <!-- Note -->
            <div class="form-group">
              <label for="note">Note</label>
              <textarea
                class="form-control"
                name="note"
                id="note"
                rows="3"
                required
                th:text="${job.note}"
              ></textarea>
            </div>
            <!-- Job Type -->
            <div class="form-group">
              <label for="jobType">Job Type</label><br />
              <input
                type="radio"
                id="install"
                name="jobType"
                value="INSTALL"
                th:checked="${job.jobType == 'install'}"
                required
              />
              <label for="install">Install</label><br />
              <input
                type="radio"
                id="service"
                name="jobType"
                value="SERVICE"
                th:checked="${job.jobType == 'service'}"
              />
              <label for="service">Service</label><br />
              <input
                type="radio"
                id="repair"
                name="jobType"
                value="REPAIR"
                th:checked="${job.jobType == 'repair'}"
              />
              <label for="repair">Repair</label><br />
            </div>

            <!-- Technicians -->
            <div class="form-group">
              <label for="tech-checkbox">Select employees to assign:</label>
              <div id="tech-checkbox" class="row">
                <div
                  th:each="tech : ${allTechnicians}"
                  class="tech-box form-check"
                >
                  <input
                    th:id="${'tech' + tech.id}"
                    th:value="${tech.id}"
                    name="technicianIds"
                    type="checkbox"
                    class="form-check-input"
                  />
                  <label th:for="${'tech' + tech.id}" class="form-check-label">
                    <div th:text="${tech.name}"></div>
                    <div class="job-count">Jobs:</div>
                  </label>
                </div>
              </div>
            </div>
            <!-- Submit button -->
            <button id="updateJobButton" type="submit" class="btn btn-primary">
              Update
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <!-- Additional buttons if needed -->
        </div>
      </div>
    </div>
  </div>
  <div
    id="customerData"
    style="display: none"
    th:attr="data-customer-name=${customer.name}, data-customer-email=${customer.email}, data-customer-phone=${customer.phoneNumber}"
  ></div>
  <script>
    let checkboxSelected = false;

    document
      .getElementById("updateJobForm")
      .addEventListener("submit", function (e) {
        var checkboxes = document.querySelectorAll(
          'input[name="technicianIds"]:checked'
        );
        if (checkboxes.length === 0) {
          e.preventDefault();
          alert("Please select at least one technician.");
        } else {
          checkboxSelected = true;

          var customerData = document.getElementById("customerData");
          var name = customerData.getAttribute("data-customer-name");
          var email = customerData.getAttribute("data-customer-email");
          var phone = customerData.getAttribute("data-customer-phone");

          alert(
            "Please contact the customer to inform them of the date change.\n\n" +
              "Name: " +
              name +
              "\n" +
              "Email: " +
              email +
              "\n" +
              "Phone: " +
              phone
          );
        }
      });
    function handleDateChange(date) {
      const techCheckboxDiv = document.getElementById("tech-checkbox");

      fetch("/jobs/getJobsCount?date=" + date)
        .then((response) => response.json())
        .then((jobCounts) => {
          // hashmap of userId->jobCount
          const techBoxes = document.querySelectorAll(".tech-box");

          techBoxes.forEach((techBox) => {
            const checkbox = techBox.querySelector(
              'input[name="technicianIds"]'
            );

            const userId = checkbox.value;

            const jobCountDiv = techBox.querySelector(".job-count");

            const count = jobCounts[userId];
            jobCountDiv.textContent = `Jobs: ${count}`;
          });
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }

    let techBoxes = document.querySelectorAll(".tech-box");
    techBoxes.forEach(function (box) {
      box
        .querySelector('input[type="checkbox"]')
        .addEventListener("change", function () {
          if (this.checked) {
            box.classList.add("checked");
          } else {
            box.classList.remove("checked");
          }
        });
    });

    // Uncheck all checkboxes when page is refreshed
    var checkboxes = document.querySelectorAll('input[name="technicianIds"]');
    checkboxes.forEach(function (checkbox) {
      checkbox.checked = false;
    });
  </script>
  <script src="/js/calendar/addCalendarColSelect.js"></script>
</div>
