#calendar-buttons{
    margin-bottom: 2px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}
#week-offset{
    font-size: larger;
}

#prev-week, #next-week{
    background-color: #f8f9fa;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
}
#prev-week:hover, #next-week:hover{
    background-color: #e7e7e7;
}

#calendar-container{
    width: 65%;
    margin: 15px;
}

.calendar-top{
    background-color: #f8f9fa;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    flex: 0 0 auto; 
    width: calc(100% / 7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.calendar-col{
    border-right: 1px solid black ;
    border-bottom: 2px solid black ;
    flex: 0 0 auto; 
    width: calc(100% / 7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 28vh;
}

.job{
    border: 1px solid #002e69 ;
    border-radius: 8px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #eff6ff;
    width: 100%;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%; 
}

.job:not(:first-child){
    margin-top: 0px;
}

.job:hover{
    background-color: #d9e5ff;
    cursor: pointer;
}

.job-name, .job-type{
    display: block; 
    width: 100%;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.finished{
    background-color: #d9ffd9;
    border-color: #005a00;
}

.finished:hover{
    background-color: #b3ffb3;
}


