body,
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
}
a{
    text-decoration: none;
}
.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header,
footer {
  flex: 0 0 auto;
}

@media (max-width: 760px) {
  .row {
    flex-direction: column;
  }
}

.col-md-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h5 {
  text-align: center;
  font-weight: 700;
  font-weight: bold;
}

h3 {
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 760px) {
  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .img-fluid {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
  }

  .col-md-4 h5 {
    font-size: 1rem;
  }
  body {
    padding: 2rem;
  }

  .interactive-box {
    max-width: 500px;
    padding: 2rem;
  }

  .interactive-box h2 {
    font-size: 1.75rem;
  }

  .interactive-box p {
    font-size: 1.25rem;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 25%;
}
}

#topHeader {
  background-color: rgb(60, 60, 245);
  border-bottom: 1px solid silver;
  justify-content: center;
  padding: 5px;
  width: auto;
}

#topHeader a {
  color: white;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
}

#topHeader h6 {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.main-container {
  width: 100%;
  max-width: 600px;
  margin: 15px;
  padding: 1rem;
  box-sizing: border-box;
}
.interactive-box {
  padding: 15px;
  margin: auto;
  background: #d9d9d9b2;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
}

.interactive-box h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0 0 10px;
}

.interactive-box p {
  color: #666;
  font-size: 1rem;
}

.interactive-box:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .interactive-box {
    max-width: 480px;
  }
}

@media (min-width: 1024px) {
  .interactive-box {
    max-width: 600px;
  }
}
.col-md-4:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.img-fluid.p-4 {
    padding: 1.45rem; 
}
.custom-padding {
    padding: 1.25rem;
}