<div class="container" th:fragment="details">
    <div class="row">
        <h2>
            <span th:text="${workLogsData.getFormattedDate()} + ' Log'"></span>
            <small class="text-muted" th:text="${'(' + workLogsData.getFormattedDuration() + ')'}"></small>
        </h2>
        <div class="timeline-container mb-5">
            <div class="timeline"></div>
            <div th:each="workLog : ${workLogsData.logs}" class="time my-4 pb-4">
                <div class="indicator"></div>
                <div class="content">
                    <h4 th:text="${workLog.getFormattedHours()}"></h4>
                    <p class="m-0" th:text="${workLog.action}"></p>
                    <p class="m-0" th:text="${workLog.location}"></p>
                </div>
            </div>
        </div>
    </div>
</div>